.linenodiv {
    background-color: transparent !important;
    padding-right: 0 !important;
}
table.highlighttable tbody td:first-child {
    font-weight: normal;
}
article img {
    width: 100%;
    border-radius: 3px;
}
